.DS_Store

# python files
**/__pycache__
env

# project specific ignores
logs/
config.yaml

# ignore all machine_type recipe and session files
app/recipes/*/*
app/recipes/*.zip
app/sessions/*/active/*
app/sessions/*/archive/*
app/sessions/*.zip

scripts/docker/nginx/certs/*

# terraform
terraform/.terraform
terraform/*.tfstate*

# ignore Visual Studio Code files
.vscode