# python files
**/__pycache__

# project specific ignores
config.yaml
app/recipes/pico/*
app/recipes/zymatic/*
app/recipes/zseries/*

app/sessions/brew/active/*
app/sessions/brew/archive/*
app/sessions/ferm/active/*
app/sessions/ferm/archive/*

# terraform
terraform/.terraform
terraform/*.tfstate*