.DS_Store

# python files
**/__pycache__
env

# project specific ignores
logs/
config.yaml
app/recipes/pico/*
app/recipes/zymatic/*
app/recipes/zseries/*

app/sessions/brew/active/*
app/sessions/brew/archive/*
app/sessions/ferm/active/*
app/sessions/ferm/archive/*
app/sessions/iSpindel/active/*
app/sessions/iSpindel/archive/*

scripts/docker/nginx/certs/*

# terraform
terraform/.terraform
terraform/*.tfstate*