.card-header > a {
  display: block;
  position: relative;
}
.card-header > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.card-header > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}