<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta charset="UTF-8">
  <title>PicoBrew Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css"/>
  <link rel="stylesheet" href="static/css/fontawesome/all.min.css"/>
  <link rel="stylesheet" href="static/css/fontawesome/fontawesome.min.css"/>
  <link rel="stylesheet" href="static/css/tabulator/tabulator_midnight.min.css"/>
  <link rel="stylesheet" href="static/css/main.css"/>
  <script src="static/js/jquery/jquery.min.js"></script>
  <script src="static/js/bootstrap/bootstrap.min.js"></script>
  <script src="static/js/tabulator/tabulator.min.js"></script>
</head>
<body class="bg-dark text-light-50">
  {% include "navbar.html" %}
  <div class="container">
    {% if error %}
      <div id=alert class='show w-50 alert text-center alert-danger'>{{error}}</div>
    {% else %}
      <div id=alert class='hide'></div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>