{% extends "base.html" %}
{% block content %}
  <script src="/static/js/highcharts/highcharts.js"></script>
  <script src="/static/js/highcharts/annotations.js"></script>
  <script src="/static/js/highcharts/export-data.js"></script>
  <script src="/static/js/highcharts/exporting.js"></script>
  <script src="/static/js/highcharts/dark-unica.js"></script>
  <script src="/static/js/devices.js"></script>
  <script>
    $(document).ready(function () {
      $("#machine_type_new").change(function () {
        var value = $("#machine_type_new option:selected").val();
        if (value == "PicoStill") {
          var ipAddrDiv = $("#ip_addr_entry")
          ipAddrDiv.slideDown().toggleClass("d-none d-block")
        }
      });
    });
  </script>
  <div id="accordion">
    <div class="row bg-dark text-white-50">
      <div class="col-sm-12">
        <a id="badd_device" class="collapsed btn btn-sm btn-success float-right mr-5" role="button" data-toggle="collapse"
          href="#c_new_device" data-parent="#accordion" aria-expanded="false" aria-controls="c_new_device">
          <i class="fas fa-plus"></i>  Add New Device
      </a>
      </div>
      <form id="c_new_device" class="collapse card-body col-sm-5" aria-labelledby="badd_device" 
        action="/devices" method="POST">
        <div class="form-row form-group">
            <label for="machine_type_new">Machine Type</label>
            <select class="form-control form-control-sm" id="machine_type_new" name="machine_type">
              <option value="PicoBrewC">PicoBrew C</option>
              <option value="PicoBrew">Picobrew Pro/S</option>
              <option value="Zymatic">Zymatic</option>
              <option value="ZSeries">ZSeries</option>
              <option value="PicoFerm">PicoFerm</option>
              <option value="PicoStill">PicoStill</option>
              <option value="iSpindel">iSpindel</option>
              <option value="Tilt">Tilt</option>
            </select>
        </div>
        <div class="form-row form-group">
            <label for="uid_new">Machine/Product ID</label>
            <input type="text" class="form-control form-control-sm" name="uid" id="uid_new"
              placeholder="Product ID (Username > Settings > Equipment)" value="">
          </div>
        <div class="form-row form-group">
            <label for="alias_new">Alias</label>
            <input type="text" class="form-control form-control-sm" name="alias" id="alias_new"
              placeholder="BrewHaus Alias" value="">
        </div>
        <div id="ip_addr_entry" class="form-row form-group d-none">
          <label for="ip_addr_new">IP Address</label>
          <input type="text" class="form-control form-control-sm" name="ip_addr" id="ip_addr_new"
            placeholder="192.168.72.108" value="">
        </div>
        <div class="form-row form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
    </br>
    {% if 'aliases' in config %}
    {% for machine_type in config['aliases'] %}
    <div class="card bg-dark text-white">
      {% if machine_type == 'PicoBrewC' %}
      <h2 id="m_{{machine_type}}">Picobrew C</h2>
      {% elif machine_type == 'PicoBrew' %}
      <h2 id="m_{{machine_type}}">Picobrew S/Pro</h2>
      {% else %}
      <h2 id="m_{{machine_type}}">{{machine_type}}</h2>
      {% endif %}
      {% if config['aliases'][machine_type] == None or not config['aliases'][machine_type] %}
      <p>No devices configured</p>
      {% else %}
      {% for uid in config['aliases'][machine_type] %}
      {% set alias = config['aliases'][machine_type][uid] %}
      <div class="card bg-dark text-white-50">
        <h5 class="card-header" id="h_{{uid}}">
          <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{uid}}" data-parent="#accordion" aria-expanded="false" aria-controls="c_{{uid}}">
            {{alias}}
            <button class="btn btn-sm btn-danger float-right mr-5" type="button" id="bdelete_{{uid}}"
                onclick="event.stopPropagation();event.preventDefault();delete_device('{{machine_type}}', '{{uid}}');">
                <i class="fas fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-success float-right mr-3" type="button" id="bsave_{{uid}}"
                onclick="event.stopPropagation();event.preventDefault();save_device('{{uid}}');"
                style="display:none;">
                <i class="far fa-save fa-lg"></i>
            </button>
          </a>
        </h5>

        <div id="c_{{uid}}" class="collapse card-body">
          <div class="row">
            <form class="col-sm-4" aria-labelledby="h_{{uid}}"
            action="/devices/{{uid}}" method="POST">
              <div class="form-row form-group">
                <label for="machine_type_{{uid}}">Machine Type</label>
                <input type="text" class="form-control form-control-sm" name="machine_type" id="machine_type_{{uid}}"
                    placeholder="Machine Type" value="{{machine_type}}" readonly>
              </div>
              <div class="form-row form-group">
                <label for="uid_{{uid}}">Machine/Product ID</label>
                <input type="text" class="form-control form-control-sm" name="uid" id="uid_{{uid}}"
                    placeholder="Product ID (Username > Settings > Equipment)" value="{{uid}}" readonly>
              </div>
              <div class="form-row form-group">
                <label for="alias_{{uid}}">Alias</label>
                <input type="text" class="form-control form-control-sm" name="alias" id="alias_{{uid}}"
                    placeholder="BrewHaus Alias" value="{{alias}}">
              </div>
              {% if machine_type == 'PicoStill' %}
              {% set active_session = active_sessions['still'][uid] %}
              {% set ip_address = active_session.ip_address if active_session.ip_address != None and active_session.ip_address|length else "" %}
              <div class="form-row form-group">
                <label for="ip_addr_{{uid}}">IP Address</label>
                <input type="text" class="form-control form-control-sm" name="ip_addr" id="ip_addr_{{uid}}"
                  placeholder="192.168.72.108" value="{{ip_address}}">
              </div>
              {% endif %}
              <div class="form-row form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
            {% if machine_type == 'ZSeries' or machine_type == 'Zymatic' or machine_type == 'PicoBrewC' or machine_type == 'PicoBrew' %}
              {% set stats = machine_stats[uid] %}
              {% if stats %}
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <div class="text-white-50">Total Sessions</div>
                <input type="text" class="form-control form-control-sm form-control-plaintext" readonly value="{{stats.total_sessions}}" />
                {% if stats.dirty_sessions_since_clean %}
                  <div>&nbsp;</div>
                  <div class="text-white-50">Dirty Sessions</div>
                  <div class="form-inline">
                    <div class="form-group col-sm-1 pl-0">
                      <input type="text" class="form-control form-control-sm form-control-plaintext" style="max-width: 2em;" readonly value="{{stats.dirty_sessions_since_clean}}" />
                    </div>
                    {% if stats.dirty_sessions_since_clean >= 3 %}
                      {% set badge_color="warning" %}
                      {% if stats.dirty_sessions_since_clean > 3 %}
                        {% set badge_color="danger" %}
                      {% endif %}
                      <div class="form-group col-sm-2" style="max-width: fit-content;">
                        <span class="badge badge-{{badge_color}} ml-2">Needs Cleaning</span>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                {% if stats.last_session %}
                  {% set badge_color = "primary" %}
                  {% if stats.last_session.type == "CLEAN" or stats.last_session.type == "RINSE" or stats.last_session.type == "STILL" or stats.last_session.type == "DEEP CLEAN" %}
                  {% set badge_color = "success" %}
                  {% endif %}
                  <div>&nbsp;</div>
                  <div class="text-white-50">Last Session <span class="badge badge-{{badge_color}} ml-2">{{stats.last_session.type}}</span></div>
                  <textarea class="form-control form-control-sm form-control-plaintext" readonly>{{stats.last_session.name}}</textarea>
                {% endif %}
              </div>
              {% endif %}
            {% endif %}
          </div>
        </div>

      </div>
      {% endfor %}
      {% endif %}
    </div>
    </br>
    </br>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}
