{% extends "base.html" %}
{% block content %}
  <form id="import_recipe">
    <div class="form-row">
      <div class="form-group col-sm-5">
        <input type="text" class="form-control form-control-sm" name="guid" id="guid" placeholder="32 Character Profile GUID (Username > Settings)">
      </div>
      <div><button class="btn btn-sm btn-secondary btn-block" type="button">Import</button></div>
    </div>
  </form>
  <div id=alert class='hide'></div>
  <script src="static/js/import_recipe.js"></script>
{% endblock %}
