{% extends "base.html" %}
{% block content %}
  <script src="static/js/highcharts/highcharts.js"></script>
  <script src="static/js/highcharts/annotations.js"></script>
  <script src="static/js/highcharts/export-data.js"></script>
  <script src="static/js/highcharts/exporting.js"></script>
  <script src="static/js/highcharts/dark-unica.js"></script>
  <script src="static/js/socketio/socket.io.slim.js"></script>
  <script>var socket = io.connect('//' + document.domain + ':' + location.port);</script>
  <div id="accordion">
    {% for brew_session in brew_sessions %}
    <script>var graph_data={{brew_session.graph|tojson}};</script>
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{brew_session.graph.chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{brew_session.graph.chart_id}}" data-parent="#accordion" aria-expanded="false" aria-controls="c_{{brew_session.graph.chart_id}}">
          {% if brew_session.alias is defined and brew_session.alias|length %}{{brew_session.alias}}{% else %}{{brew_session.graph.chart_id}}{% endif %}
        </a>
      </h5>
      <div id="c_{{brew_session.graph.chart_id}}" class="collapse show" aria-labelledby="h_{{brew_session.graph.chart_id}}">
        <div class="card-body">
          <div id="{{brew_session.graph.chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script src="static/js/brew_graph_socketio.js"></script>
        </div>
      </div>
    </div>
    <div id="brew_session_data">
      <table>
        <tr id="table_head">
          <th>Time</th>
          <th>Wort</th>
          <th>Heat Loop 1</th>
          <th>Board</th>
          <th>Heat Loop 2</th>
        </tr>
      </table>
      <script src="static/js/brew_table.js"></script>
    </div>
    {% endfor %}
  </div>
  <div id="accordion">
    {% for ferm_session in ferm_sessions %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{ferm_session.graph.chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{ferm_session.graph.chart_id}}" data-parent="#accordion" aria-expanded="false" aria-controls="c_{{ferm_session.graph.chart_id}}">
          {% if ferm_session.alias is defined and ferm_session.alias|length %}{{ferm_session.alias}}{% else %}{{ferm_session.graph.chart_id}}{% endif %}
        </a>
      </h5>
      <div id="c_{{ferm_session.graph.chart_id}}" class="collapse show" aria-labelledby="h_{{ferm_session.graph.chart_id}}">
        <div class="card-body">
          <div id="{{ferm_session.graph.chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script>var graph_data={{ferm_session.graph|tojson}};</script>
          <script src="static/js/ferm_graph_socketio.js"></script>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}