{% extends "base.html" %}
{% block content %}
  <script src="/static/js/highcharts/highcharts.js"></script>
  <script src="/static/js/highcharts/annotations.js"></script>
  <script src="/static/js/highcharts/export-data.js"></script>
  <script src="/static/js/highcharts/exporting.js"></script>
  <script src="/static/js/highcharts/dark-unica.js"></script>
  <script src="/static/js/socketio/socket.io.slim.js"></script>
  <script src="/static/js/index.js"></script>
  <script>var socket = io.connect('//' + document.domain + ':' + location.port);</script>
  <div id="accordion">
    {% for brew_session in brew_sessions %}
    {% set chart_id = brew_session.graph.chart_id %}
    {% set expanded = 'true' if brew_session.active else 'false' %}
    {% set show = 'show' if brew_session.active else '' %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{chart_id}}" data-parent="#accordion" aria-expanded="{{expanded}}" aria-controls="c_{{chart_id}}">
          <span class="equipment-icon">
            {% if brew_session.machine_type is defined and (brew_session.machine_type == "PicoBrew" or brew_session.machine_type == "PicoBrewC") %}
            <img src="/static/img/picobrew.svg" atl="picobrew c/s/pro" />
            {% elif brew_session.machine_type is defined and brew_session.machine_type == "Zymatic" %}
            <img src="/static/img/zymatic.svg" atl="zymatic" />
            {% elif brew_session.machine_type is defined and brew_session.machine_type == "ZSeries" %}
            <img src="/static/img/zseries.svg" atl="zseries" />
            {% endif %}
          </span>
          {% if brew_session.alias is defined and brew_session.alias|length %}{{brew_session.alias}}{% else %}{{chart_id}}{% endif %}
        </a>
      </h5>
      <div id="c_{{chart_id}}" class="collapse {{show}}" aria-labelledby="h_{{chart_id}}">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-sm">
              <div class="text-white-50">Machine</div>
              <div>{% if brew_session.alias is defined and brew_session.alias|length %}{{brew_session.alias}} ({{brew_session.uid}}){% else %}{{brew_session.uid}}{% endif %}</div>
            </div>
            {% if brew_session.dirty_sessions_since_clean %}
              <div class="col-sm">
                <div class="text-white-50">Dirty Sessions</div>
                {% if brew_session.dirty_sessions_since_clean < 3 %}
                  <div>{{brew_session.dirty_sessions_since_clean}}</div>
                {% else %}
                {% set badge_color="warning" %}
                {% if brew_session.dirty_sessions_since_clean > 3 %}
                  {% set badge_color="danger" %}
                {% endif %}
                <div>
                  <button disabled type="button" class="btn btn-{{badge_color}}">
                    Needs Cleaning <span class="badge badge-light">{{brew_session.dirty_sessions_since_clean}}</span>
                    <span span class="sr-only">dirty sessions</span>
                  </button>
                </div>
                {% endif %}
              </div>
            {% endif %}
            {% if brew_session.last_session %}
              <div class="col-sm">
                {% set badge_color = "primary" %}
                {% if brew_session.last_session.type == "CLEAN" or brew_session.last_session.type == "RINSE" or brew_session.last_session.type == "STILL" or brew_session.last_session.type == "DEEP CLEAN" %}
                {% set badge_color = "success" %}
                {% endif %}
                <div class="text-white-50">Last Session <span class="badge badge-{{badge_color}} ml-2">{{brew_session.last_session.type}}</span></div>
                <div>{{brew_session.last_session.name}}</div>
              </div>
            {% endif %}
            <!-- Need to figure out best way to calculate time_remaining, as this is reported per step from the Z?
            {% if brew_session.time_remaining %}
              <div class="col-sm">
                <div class="text-white-50">Time Remaining</div>
                <div>{{brew_session.time_remaining}}</div>
              </div>
            {% endif %} -->
            {% if brew_session.date %}
              <div class="col-sm">
                <div class="text-white-50">Date Started</div>
                <div>{{brew_session.date.strftime('%A, %b %e %Y %H:%M:%S')}}</div>
              </div>
            {% endif %}
            {% if brew_session.end_date %}
              <div class="col-sm">
                <div class="text-white-50">Date Ended</div>
                <div>{{brew_session.end_date.strftime('%A, %b %e %Y %H:%M:%S')}}</div>
              </div>
            {% endif %}
          </div>
          <div class="row">&nbsp;</div>
          <div id="{{chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script>var graph_data={{brew_session.graph|tojson}};</script>
          <script src="/static/js/brew_graph_socketio.js"></script>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="accordion">
    {% for ferm_session in ferm_sessions %}
    {% set chart_id = ferm_session.graph.chart_id %}
    {% set expanded = 'true' if ferm_session.active else 'false' %}
    {% set show = 'show' if ferm_session.active else '' %}
    {% set display_start = 'd-none' if ferm_session.active else 'd-block' %}
    {% set display_stop = 'd-block' if ferm_session.active else 'd-none' %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{chart_id}}" data-parent="#accordion" aria-expanded="{{expanded}}" aria-controls="c_{{chart_id}}">
          <span class="equipment-icon">
            <img src="/static/img/picoferm.svg" atl="picoferm">
          </span>
          {% if ferm_session.alias is defined and ferm_session.alias|length %}{{ferm_session.alias}}{% else %}{{chart_id}}{% endif %}
          <button class="fermentation-start {{display_start}} btn btn-sm btn-success float-right mr-5" type="button" id="bstart_{{ferm_session.uid}}"
              onclick="event.stopPropagation();event.preventDefault();start_monitoring('ferm', '{{ferm_session.uid}}');">
              <i class="fas fa-play-circle"></i> Start Fermentation
          </button>
          <button class="fermentation-stop {{display_stop}} btn btn-sm btn-danger float-right mr-5" type="button" id="bstop_{{ferm_session.uid}}"
              onclick="event.stopPropagation();event.preventDefault();stop_monitoring('ferm', '{{ferm_session.uid}}');">
              <i class="fas fa-stop-circle"></i> Stop Fermentation
          </button>
        </a>
      </h5>
      <div id="c_{{chart_id}}" class="collapse {{show}}" aria-labelledby="h_{{chart_id}}">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-sm">
              <div class="text-white-50">Device</div>
              <div>{% if ferm_session.alias is defined and ferm_session.alias|length %}{{ferm_session.alias}} ({{ferm_session.uid}}){% else %}{{ferm_session.uid}}{% endif %}</div>
            </div>
            <div class="col-sm">
              {% if ferm_session.date %}
              <div class="text-white-50">Date Started</div>
              <div>{{ferm_session.date.strftime('%A, %b %e %Y %H:%M:%S')}}</div>
              {% endif %}
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div id="{{chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script>var graph_data={{ferm_session.graph|tojson}};</script>
          <script src="/static/js/ferm_graph_socketio.js"></script>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="accordion">
    {% for still_session in still_sessions %}
    {% set chart_id = still_session.graph.chart_id %}
    {% set expanded = 'true' if still_session.active else 'false' %}
    {% set show = 'show' if still_session.active else '' %}
    {% set display_start = 'd-none' if still_session.active else 'd-block' %}
    {% set display_stop = 'd-block' if still_session.active else 'd-none' %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{chart_id}}" data-parent="#accordion" aria-expanded="{{expanded}}" aria-controls="c_{{chart_id}}">
          <span class="equipment-icon">
            <img src="/static/img/picostill.svg" atl="picostill" />
          </span>
          {% if still_session.alias is defined and still_session.alias|length %}{{still_session.alias}}{% else %}{{chart_id}}{% endif %}
          {% if still_session.ip_address %}
            <button class="still-start {{display_start}} btn btn-sm btn-success float-right mr-5" type="button" id="bstart_{{still_session.uid}}"
                onclick="event.stopPropagation();event.preventDefault();start_monitoring('still', '{{still_session.uid}}');">
                <i class="fas fa-play-circle"></i> Start Monitoring
            </button>
            <button class="still-stop {{display_stop}} btn btn-sm btn-danger float-right mr-5" type="button" id="bstop_{{still_session.uid}}"
                onclick="event.stopPropagation();event.preventDefault();stop_monitoring('still', '{{still_session.uid}}');">
                <i class="fas fa-stop-circle"></i> Stop Monitoring
            </button>
          {% endif %}
        </a>
      </h5>
      <div id="c_{{chart_id}}" class="collapse {{show}}" aria-labelledby="h_{{chart_id}}">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-sm">
              <div class="text-white-50">Machine</div>
              <div>
                {% if still_session.alias is defined and still_session.alias|length %}{{still_session.alias}} ({{still_session.uid}}){% else %}{{still_session.uid}}{% endif %}
              </div>
            </div>
            <div class="col-sm">
              {% if still_session.date %}
              <div class="text-white-50">Date Started</div>
              <div>{{still_session.date.strftime('%A, %b %e %Y %H:%M:%S')}}</div>
              {% endif %}
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div id="{{chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script>var graph_data={{still_session.graph|tojson}};</script>
          <script src="/static/js/still_graph_socketio.js"></script>
          
          <!-- render an iframe of the embedded ui of the picostill -->
          {% if still_session.ip_address %}
          {% set ip = still_session.ip_address %}
          <div class="card bg-dark text-white-50">
            <h5 class="card-header" id="h2_{{chart_id}}">
              <a class="collapsed" role="button" data-toggle="collapse" href="#c2_{{chart_id}}" data-parent="#accordion" aria-expanded="{{expanded}}" aria-controls="c2_{{chart_id}}">
                Embedded PicoStill UI (iframe)
            </h5>
            <div id="c2_{{chart_id}}" class="collapse show" aria-labelledby="h2_{{chart_id}}">
              <div class="card-body">
                {% if platform is defined and platform == "RaspberryPi" %}
                <a href="//embedded-content/data-page?ip={{ip}}">{{still_session.alias}}'s Data Page</a>
                <iframe src="//embedded-content/data-page?ip={{ip}}" width="100%" height="500em"></iframe>
                {% else %}
                <a href="http://{{ip}}/data-page" target="_blank" rel="noopener noreferrer">{{still_session.alias}}'s Data Page</a>
                <iframe src="http://{{ip}}/data-page" width="100%" height="500em"></iframe>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="accordion">
    {% for iSpindel_session in iSpindel_sessions %}
    {% set chart_id = iSpindel_session.graph.chart_id %}
    {% set expanded = 'true' if iSpindel_session.active else 'false' %}
    {% set show = 'show' if iSpindel_session.active else '' %}
    {% set display_start = 'd-none' if iSpindel_session.active else 'd-block' %}
    {% set display_stop = 'd-block' if iSpindel_session.active else 'd-none' %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{chart_id}}" data-parent="#accordion" aria-expanded="{{expanded}}" aria-controls="c_{{chart_id}}">
          <span class="equipment-icon">
            <img src="/static/img/iSpindel.svg" atl="ispindle">
          </span>
          {% if iSpindel_session.alias is defined and iSpindel_session.alias|length %}{{iSpindel_session.alias}}{% else %}{{chart_id}}{% endif %}
          <button class="fermentation-start {{display_start}} btn btn-sm btn-success float-right mr-5" type="button" id="bstart_{{iSpindel_session.uid}}"
              onclick="event.stopPropagation();event.preventDefault();start_monitoring('iSpindel', '{{iSpindel_session.uid}}');">
              <i class="fas fa-play-circle"></i> Start Fermentation
          </button>
          <button class="fermentation-stop {{display_stop}} btn btn-sm btn-danger float-right mr-5" type="button" id="bstop_{{iSpindel_session.uid}}"
              onclick="event.stopPropagation();event.preventDefault();stop_monitoring('iSpindel', '{{iSpindel_session.uid}}');">
              <i class="fas fa-stop-circle"></i> Stop Fermentation
          </button>
        </a>
      </h5>
      <div id="c_{{chart_id}}" class="collapse {{show}}" aria-labelledby="h_{{chart_id}}">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-sm">
              <div class="text-white-50">Device</div>
              <div>{% if iSpindel_session.alias is defined and iSpindel_session.alias|length %}{{iSpindel_session.alias}} ({{iSpindel_session.uid}}){% else %}{{iSpindel_session.uid}}{% endif %}</div>
            </div>
            <div class="col-sm">
              {% if iSpindel_session.date %}
              <div class="text-white-50">Date Started</div>
              <div>{{iSpindel_session.date.strftime('%A, %b %e %Y %H:%M:%S')}}</div>
              {% endif %}
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div id="{{chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script>var graph_data={{iSpindel_session.graph|tojson}};</script>
          <script src="/static/js/iSpindel_graph_socketio.js"></script>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="accordion">
    {% for tilt_session in tilt_sessions %}
    {% set chart_id = tilt_session.graph.chart_id %}
    {% set expanded = 'true' if tilt_session.active else 'false' %}
    {% set show = 'show' if tilt_session.active else '' %}
    {% set display_start = 'd-none' if tilt_session.active else 'd-block' %}
    {% set display_stop = 'd-block' if tilt_session.active else 'd-none' %}
    {% set text_color = 'black' if tilt_session.color in ['Pink', 'Yellow'] else 'white' %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{chart_id}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{chart_id}}" data-parent="#accordion" aria-expanded="{{expanded}}" aria-controls="c_{{chart_id}}">
          <span class="equipment-icon">
            <img src="/static/img/tilt.svg" atl="tilt">
          </span>
          {% if tilt_session.color %}
          <span class="badge badge-secondary ml-1" style="min-width: 70px; background-color: {{tilt_session.color}} !important; color: {{text_color}} !important;">{{tilt_session.color}}</span>
          {% endif %}
          {% if tilt_session.alias is defined and tilt_session.alias|length %}{{tilt_session.alias}}{% else %}{{chart_id}}{% endif %}
          <button class="fermentation-start {{display_start}} btn btn-sm btn-success float-right mr-5" type="button" id="bstart_{{tilt_session.uid}}"
              onclick="event.stopPropagation();event.preventDefault();start_monitoring('tilt', '{{tilt_session.uid}}');">
              <i class="fas fa-play-circle"></i> Start Fermentation
          </button>
          <button class="fermentation-stop {{display_stop}} btn btn-sm btn-danger float-right mr-5" type="button" id="bstop_{{tilt_session.uid}}"
              onclick="event.stopPropagation();event.preventDefault();stop_monitoring('tilt', '{{tilt_session.uid}}');">
              <i class="fas fa-stop-circle"></i> Stop Fermentation
          </button>
        </a>
      </h5>
      <div id="c_{{chart_id}}" class="collapse {{show}}" aria-labelledby="h_{{chart_id}}">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-sm">
              <div class="text-white-50">Device</div>
              <div>{% if tilt_session.alias is defined and tilt_session.alias|length %}{{tilt_session.alias}} ({{tilt_session.uid}}){% else %}{{tilt_session.uid}}{% endif %}</div>
              <div>
                {% if tilt_session.color %}
                <span class="badge badge-secondary ml-1" style="min-width: 70px; background-color: {{tilt_session.color}} !important; color: {{text_color}} !important;">{{tilt_session.color}}</span>
                {% endif %}
              </div>
            </div>
            <div class="col-sm">
              {% if tilt_session.date %}
              <div class="text-white-50">Date Started</div>
              <div>{{tilt_session.date.strftime('%A, %b %e %Y %H:%M:%S')}}</div>
              {% endif %}
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div id="{{chart_id}}" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
          <script>var graph_data={{tilt_session.graph|tojson}};</script>
          <script src="/static/js/tilt_graph_socketio.js"></script>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
