<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">PicoBrew Server</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pico Recipes</a>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/pico_recipes">Library</a>
        <a class="dropdown-item nav-link bg-dark" href="/new_pico_recipe">New</a>
        <a class="dropdown-item nav-link bg-dark" href="/import_pico_recipe">Import</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zymatic Recipes</a>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/zymatic_recipes">Library</a>
        <a class="dropdown-item nav-link bg-dark" href="/new_zymatic_recipe">New</a>
        <a class="dropdown-item nav-link bg-dark" href="/import_zymatic_recipe">Import</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ZSeries Recipes</a>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/zseries_recipes">Library</a>
        <a class="dropdown-item nav-link bg-dark" href="/new_zseries_recipe">New</a>
      </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="/brew_history">Brew History</a></li>
    <li class="nav-item"><a class="nav-link" href="/ferm_history">Ferm History</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">System</a>
      <div class="dropdown-menu dropdown-menu-right navbar-dark bg-dark text-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/restart_server">Update/Restart Server</a>
        <a class="dropdown-item nav-link bg-dark" href="/restart_system">Restart System (Pi)</a>
        <a class="dropdown-item nav-link bg-dark" href="/shutdown_system">Shutdown System (Pi)</a>
      </div>
    </li>
  </ul>
</nav>