<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">PicoBrew Server</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto navbar-collapse collapse" id="navbarCollapse">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pico Recipes</a>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/pico_recipes">Library</a>
        <a class="dropdown-item nav-link bg-dark" href="/new_pico_recipe">New</a>
        <a class="dropdown-item nav-link bg-dark" href="/import_pico_recipe">Import</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zymatic Recipes</a>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/zymatic_recipes">Library</a>
        <a class="dropdown-item nav-link bg-dark" href="/new_zymatic_recipe">New</a>
        <a class="dropdown-item nav-link bg-dark" href="/import_zymatic_recipe">Import</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ZSeries Recipes</a>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/zseries_recipes">Library</a>
        <a class="dropdown-item nav-link bg-dark" href="/new_zseries_recipe">New</a>
        <a class="dropdown-item nav-link bg-dark" href="/import_zseries_recipe">Import</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sessions</a>
      <div class="dropdown-menu dropdown-menu-right navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/brew_history">Brew History</a>
        <a class="dropdown-item nav-link bg-dark" href="/ferm_history">Ferm History</a>
        <a class="dropdown-item nav-link bg-dark" href="/iSpindel_history">iSpindel History</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
      <div class="dropdown-menu dropdown-menu-right navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link bg-dark" href="/support/accessories">Accessories</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/additional_info">Additional Resources</a>
        <div role="separator" class="dropdown-divider bg-dark"></div>
        <!-- Unsupported device, though support docs are loaded into server
        <a class="dropdown-item nav-link bg-dark" href="/support_kegsmarts">KegSmarts</a> -->
        <a class="dropdown-item nav-link bg-dark" href="/support/pico_c">Pico C</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/pico_pro">Pico Pro</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/pico_s">Pico S</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/picoferm">PicoFerm</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/picostill">PicoStill</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/z_series">Z Series</a>
        <a class="dropdown-item nav-link bg-dark" href="/support/zymatic">Zymatic</a>
        </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">System</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-dark bg-dark" aria-labelledby="navbarDropdown">
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/about">About</a></li>
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/devices">Devices</a></li>
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/restart_server">Update/Restart Server</a></li>
        {% if platform is defined and platform == "RaspberryPi" %}
        <li role="separator" class="dropdown-divider bg-dark text-white"></li>
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/setup">Setup/Configure (Pi)</a></li>
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/logs">System Logs (Pi)</a></li>
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/restart_system">Restart System (Pi)</a></li>
        <li><a class="nav-link bg-dark dropdown-item text-white" href="/shutdown_system">Shutdown System (Pi)</a></li>
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>
