{% extends "base.html" %}
{% block content %}
<script src="/static/js/server_management.js"></script>
<script src="/static/js/convert_units.js"></script>
<script src="/static/js/pico_image.js"></script>
<script src="/static/js/pico_recipe.js"></script>
<script>var tables = {};</script>
{% include "units_selector.html" %}
{% with machine_type='pico' %}
    {% include "recipe_actions.html" %}
{% endwith %}
{% include "invalid_file.html" %}
<br /><br /><br />
{% include "recipe_list.html" %}
{% endblock %}