{% extends "base.html" %}
{% block content %}
  <script src="static/js/pico_recipe.js"></script>
  <div id="accordion">
    {% for recipe in recipes %}
    <div class="card bg-dark text-white-50">
      <h5 class="card-header" id="h_{{recipe['id']}}">
        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{recipe['id']}}" data-parent="#accordion" aria-expanded="false" aria-controls="c_{{recipe['id']}}">
          {{recipe['name']}} (ABV = {{recipe['abv'] }}, IBU = {{recipe['abv']}})
        </a>
      </h5>
      <div id="c_{{recipe['id']}}" class="collapse" aria-labelledby="h_{{recipe['id']}}">
        <div class="card-body">
          <div class="table-sm table-striped table-bordered table-light" style="width: 830px;" id="t_{{recipe['id']}}"></div>
          <script>var table = new Tabulator("#t_{{recipe['id']}}", recipe_table); table.setData({{recipe['steps']|tojson}});</script>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
