<script src='/static/js/showdown/showdown.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if ('{{support_object.manual_path}}' != 'None') {
            getPdf('{{support_object.manual_path}}', 'iframe#manual');
        }
        if ('{{support_object.faq_path}}' != 'None') {
            getMarkdown('{{support_object.faq_path}}', 'faq');
        }
        if ('{{support_object.instructional_videos_path}}' != 'None') {
            getMarkdown('{{support_object.instructional_videos_path}}', 'instructional');
        }
        if ('{{support_object.misc_media|tojson}}' != 'None') {
            var data = JSON.parse('{{support_object.misc_media|tojson}}');
            for (var key in data) {
                var frameKey = key.replace(/ /g, '_')
                var media = data[key]
                if (media.split('.').pop() == 'pdf') {
                    getPdf(media, '#'+frameKey);
                }
                if (media.split('.').pop() == 'md') {
                    getMarkdown(media, frameKey);
                }
            }
        }
    });

    function getPdf(url, outFrame) {
        $(outFrame).attr('src', url);
    }

    function getMarkdown(url, outDiv) {
        var storedText;

        fetch(url)
        .then(function(response) {
            response.text().then(function(text) {
            storedText = text;
            done();
            });
        });

        function done() {
            var text = storedText,
                target = document.getElementById(outDiv),
                converter = new showdown.Converter(),
                html = converter.makeHtml(text);

            target.innerHTML = html;
        }
    }
</script>
{% extends 'base.html' %}
{% block content %}
<div class='text-white'>
    <h2>{{support_object.name}}</h2>

    <div class="container">
        {% if support_object.name == "KegSmarts" %}
        <div id=alert class='show w-75 mx-auto alert text-center alert-danger'>
            This device type is currently not supported by this server
        </div>
        {% endif %}
        <div id=alert class='show w-75 mx-auto alert text-center alert-warning'>
            All support documentation included in server at this time are direct copies from Picobrew.com in the off chance that Picobrew.com isn't available in the future. At a later time the server will come with its own documentation as well as community source device documentation.
        </div>
    </div>

    <div id="accordion">
        {% if support_object.manual_path != None %}
            <div class="card bg-dark text-white">
                <h5 class="card-header" id="h_support_manual">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#c_support_manual"
                        data-parent="#accordion" aria-expanded="false" aria-controls="c_support_manual">
                        Manual</a></h5>
                <div id="c_support_manual" class="collapse" aria-labelledby="h_support_manual">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe id='manual' style='width:100%; height:100%;' frameborder='0'></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if support_object.faq_path != None %}
            <br />
            <hr />
            <div class="card bg-dark text-white">
                <h5 class="card-header" id="h_faq">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#c_faq"
                        data-parent="#accordion" aria-expanded="false" aria-controls="c_faq">
                        FAQ</a></h5>
                <div id="c_faq" class="collapse" aria-labelledby="h_faq">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div id="faq" class="embed-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if support_object.instructional_videos_path != None %}
            <br />
            <hr />
            <div class="card bg-dark text-white">
                <h5 class="card-header" id="h_faq">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#c_instructional"
                        data-parent="#accordion" aria-expanded="false" aria-controls="c_instructional">
                        Instructional Videos</a></h5>
                <div id="c_instructional" class="collapse" aria-labelledby="h_faq">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div id="instructional" class="embed-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if support_object.misc_media != None %}
            <br />
            <hr />

            {% for key, segment in support_object.misc_media.items() %}    
                <div class="card bg-dark text-white">
                    <h5 class="card-header" id="h_{{key.replace(' ', '_')}}">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{key.replace(' ', '_')}}"
                            data-parent="#accordion" aria-expanded="false" aria-controls="c_{{key.replace(' ', '_')}}">
                            {{key}}</a></h5>
                    <div id="c_{{key.replace(' ', '_')}}" class="collapse" aria-labelledby="h_{{key.replace(' ', '_')}}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        {% if segment.split('.').pop() == 'pdf' %}
                                            <iframe id="{{key.replace(' ', '_')}}" style='width:100%; height:100%;' frameborder='0'></iframe>
                                        {% elif segment.split('.').pop() == 'md' %}
                                            <div id="{{key.replace(' ', '_')}}"></div>
                                        {% elif segment.split('.').pop() == 'png' %}
                                            <img src='{{segment}}'>
                                        {% elif 'com' in segment.split('.').pop() %}
                                            <div id="{{key.replace(' ', '_')}}"><a href='{{segment}}'>{{segment}}</a></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <hr />
            {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}