<div id="options">
    <div id="unit_selector" class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="imperial" autocomplete="off"
                onclick="convert_units('imperial');">Imperial (fahrenheit)</input>
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="metric" autocomplete="off" onclick="convert_units('metric');"> Metric
            (celcius)</input>
        </label>
    </div>
</div>