{% extends "base.html" %}
{% block content %}
<script src="static/js/server_management.js"></script>
<script src="static/js/convert_units.js"></script>
<script src="static/js/zseries_recipe.js"></script>
<script>var tables = {}</script>
<div id="options">
  <div id="unit_selector" class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="imperial" autocomplete="off"
      onclick="convert_units('imperial');">Imperial (fahrenheit)</input>
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="metric" autocomplete="off"
      onclick="convert_units('metric');"> Metric (celcius)</input>
    </label>
  </div>
</div>
{% include "invalid_file.html" %}
<div id="accordion">
  {% for recipe in recipes %}
  <div class="card bg-dark text-white-50">
    <h5 class="card-header" id="h_{{recipe['id']}}">
      <a class="collapsed" role="button" data-toggle="collapse" href="#c_{{recipe['id']}}" data-parent="#accordion"
        aria-expanded="false" aria-controls="c_{{recipe['id']}}">
        {{recipe['name']}}
        <button class="btn btn-sm btn-danger float-right mr-5" type="button" id="bd_{{recipe['id']}}"
          onclick="event.stopPropagation();event.preventDefault();delete_recipe('{{recipe['id']}}');"><i
            class="fas fa-trash"></i></button>
        <button class="btn btn-sm btn-success float-right mr-3" type="button" id="bs_{{recipe['id']}}"
          onclick="event.stopPropagation();event.preventDefault();update_recipe('{{recipe['id']}}');"
          style="display:none;"><i class="far fa-save fa-lg"></i></button>
      </a>
    </h5>
    <div id="c_{{recipe['id']}}" class="collapse" aria-labelledby="h_{{recipe['id']}}">
      <div class="card-body">
        <div class="table-sm table-striped table-bordered table-light" style="width: 830px;" id="t_{{recipe['id']}}">
        </div>
        <script>
          recipe_table['dataEdited'] = function (data) {
            document.getElementById("bs_{{recipe['id']}}").style.display = "block";
          }
          recipe_table['rowMoved'] = function (row) {
            document.getElementById("bs_{{recipe['id']}}").style.display = "block";
          }
          recipe_table['scrollVertical'] = function(top) {
            console.log("scroll showed up");
          }
          recipe_table['dataLoading'] = function(data) {
            console.log("data loading");
          }
          recipe_table['dataLoaded'] = function(data) {
            console.log("data loaded");
          }
          
          tables["{{recipe['id']}}"] = new Tabulator("#t_{{recipe['id']}}", recipe_table);
          tables["{{recipe['id']}}"].setData({{ recipe['steps']| tojson }});
        </script>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}